<nav class="navbar-dark bg-primary">
  <div class="container">
    <div class="row mx-4">
      <div class="col-lg-4 mt-1">
        <img src="./assets/logo.png" height= 30 widht= 30 alt="logo">
        <span class="navbar-brand ms-2">Diva Studio</span>
      </div>
      <div class="col-lg-4 mt-2 input">
        <form (ngSubmit)="buscar()" autocomplete="off">
          <input [(ngModel)]="termino" class="form-control form-control-sm " type="text" placeholder="Buscar producto... " name="termino" >
        </form>
      </div>
      <div class="col-lg-4 mt-2 text-center cliente">
        <img src="./assets/perfil.jpeg" height="25" width="25" alt="img-cliente" class="rounded-circle me-2">
        <span>Federico Irrazabal</span>
        <i class="fas fa-cog ms-2" routerLink="/crud"></i>
      </div>
    </div>
    <div class="row mx-4 mt-1 ">
      <div class="col-lg-2 box">
        <i class="fas fa-map-marker-alt icon-size"></i>
          <p class="enviar">Enviar a</p>
          <p class="ciudad">San Juan 5411</p>
      </div>
      <div class="col-lg-5 mt-1 li">
        <ul>
          <li routerLink="" >
            Tienda
          </li>
          <li routerLink="/turno" >
            Sacar Turno
          </li>
          <li routerLink="/contacto" >
            Contacto
          </li>
          <li routerLink="/acerca">
            Acerca de
          </li>
        </ul>
      </div>
      <div class="col-lg-3 mt-1 text-center">
       <span>Mis compras</span>
       <i class="fas fa-bell ms-2"></i>
      </div>
    </div>
  </div>
</nav>