<div>
    <app-navbar></app-navbar>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center ">Turno</h5>
                    <div class="form-group mb-3">
                        <label for="nombre">Nombre</label>
                        <input type="text" id ="nombre" class="form-control" placeholder="Ingrese su nombre" autocomplete="off">
                    </div>
                    <div class="form-group mb-3">
                        <label for="fecha">Fecha</label>
                        <input type="date" id ="fecha" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="hora">Hora</label>
                        <input type="time" id ="fecha" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="sintomas">Trabajo a realizar</label>
                        <textarea id ="sintomas" row="3" class="form-control" placeholder="Ingrese el trabajo que se desea realizar"></textarea>
                    </div>
                    <button class="btn btn-light btn-block">Agregar Turno</button>

                </div>
            </div>
        </div>
    </div>
</div>

